
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(bck0.png);
            background-color: white;
            background-repeat: no-repeat;
            background-size: contain;
            color: #333;
            margin: 0;
            padding: 10px;
        }

        h1 {
            font-size: 58px;
            margin-bottom: -1px;
            font-weight: bold;
            font-family: "lexend deca",serif;
            margin-top: 10px;
            text-align: center;
            color: #ffff;
            text-shadow: 
            -2px -2px 0 black,  
             2px -2px 0 black,  
            -2px  2px 0 black,  
             2px  2px 0 black;
        }

        .kiri {
            transform: translateX(150px);
            width: 600px;
        }

        .kanan {
            width: 200px;
            margin-top: 40px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* justify-content: center; */
            gap: 90px;
            padding: 20px;
            transform: translateY(50pxpx);
        }

        .juara {
            width: 110%;
            /* transform: translate(-140px,-160px); */
            display: flex;
            transform: translateX(90px);
        }

        .juara1 {
            margin-left: -140px;
        }

        .juara2 {
            margin-left: -180px;
            transform: translateY(10px);
        }

        .juara3 {
            margin-left: -180px;
            transform: translateY(20px);
        }

        .juara4 {
            margin-left: -180px;
            transform: translateY(30px);
        }

        .juara5 {
            margin-left: -200px;
            transform: translateY(40px);
        }

        .juara6 {
            margin-left: -200px;
            transform: translateY(50px);
        }


        table {
            max-width: 800px;
            border-collapse: collapse;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            margin: 0 auto;
            height: 100px;
        }

        tbody {
            height: 10px;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        tr {
            height: 10px;
        }

        th {
            background-color: #4C3D3D;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            position: sticky;
            top: 0;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .info {
            max-width: 600px;
            transform: translateX(0px);
            color: white;
            display: flex;
            gap: 50px;
        }

        .info ul {
            width: 600px;
            list-style: disc;
            padding-left: 20px;
            font-size: 16px;
            font-family: "manjari", serif;
            font-weight: 600;
            line-height: 1.5;
            margin-top: 45px;
        }

        .rank tr .total   {
            background-color: #fdca00;
        }
        .rank {
            position: relative;
            width: 100%;
            height: 80%;
            color: black;
            
        }

        .rank table {
            height: 100px;
            margin-top: 50px;
            font-size: 15px;
            padding: 10px;
        }

        .rank table td,th {
            padding: 7px;
            padding-right: 10px;
            padding-left: 10px;
        }


        .rank p {
            margin: 2px 0;
            /* font-weight: bold; */
            color: black;
            font-weight: 600;
            font-family: "lexend deca",serif;

        }

        .img {
            margin-top: 350px;
            margin-left: 40px;
            transform: scale(1.2);
        }

        .upload-section {
            border-radius: 20px;
        }

        .upload-section button, input {
            font-family: "lexend deca", serif;
            cursor: pointer;

        }

        .button-section {
            margin-top: 20px;
            text-align: center;
        }
        
        .button-section button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }
        
        .button-section button:hover {
            background-color: #45a049;
        }

        .footer {
            background: white;
            width: cover;
            display: flex;
            gap: 50px;
            border-radius: 16px;
            padding: 20px;
        }

        .button-section button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
        }
        
        .button-section button:hover {
            background-color: #0056b3;
        }
